html, body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #efefef;
    padding: 32px;
}

.main {
    padding: 32px;
    flex: 1;
}

footer {
    padding: 32px;
    background-color: #222;
    color: white;
}
